<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/index_style.css">


</head>

<body>

    <header>
        <div class="header">
            <h1><a href="/scrape" class="hbtn">Scrape</a>Mission to Mars</h1>
        </div>
    </header>

    <main class="content">
        <div class="post">
            <h2>{{mars_data.title}}</h2>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit,
                vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel
                convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula
                neque integer non.</p>


            <h2>Caption</h2>
            <div class="thumb"> <img src="https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg" /></div>

            <table class="table">
                <tr>
                    <th>Col1</th>
                    <th>Col2</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>6</td>
                </tr>
            </table>

            <div class="box-set">
                <h2 id="tif-title1">title list 1</h2>
                <h2 id="tif-title2">title list 2</h2>
                <h2 id="tif-title3">title list 3</h2>
                <h2 id="tif-title4">title list 4</h2>
                <img id="tif1" src="tif1">
                <img id="tif2" src="tif2">
                <img id="tif3" src="tif3">
                <img id="tif4" src="tif4">
            </div>

    </main>
</body>

</html>